{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>E-commerce</title>
    <link rel="stylesheet" href="{% static 'productos/style.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <a href="{% url 'lista_productos' %}">Productos</a>
        {% if user.is_authenticated %}
            <a href="{% url 'ver_carrito' %}">Carrito</a>
            <a href="{% url 'mi_cuenta' %}">Mi Cuenta</a>
            <a href="{% url 'logout_usuario' %}">Logout</a>
        {% else %}
            <a href="{% url 'login_usuario' %}">Login</a>
            <a href="{% url 'registro' %}">Registro</a>
        {% endif %}
    </nav>

    <hr>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
